<h1>新增看板</h1>

<% if @board.errors.any? %>
<ul>
<% @board.errors.full_messages.each do |message|%>
<li><%= message%></li>
</ul>
<% end %>


<%= form_for(@board) do |f| %>
<%= f.label :tittle, '看板標題' %>
<%= f.text_field :tittle %>
<%= f.submit %>
<% end %>