<h1>新增文章</h1>

<%= form_for(@post,url:board_posts_path(@board)) do |form| %>

 <div class="field">
    <%= form.label :tittle %>
    <%= form.text_field :tittle %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <%= form.submit %>
<% end %>